### 1. Ler e exibir um arquivo CSV usando pandas

In [0]:
import pandas as pd

df = spark.read.csv("/FileStore/tables/retail-2.csv", header=True, sep=',')
df = df.toPandas()
df

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,"0,85",12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680,France

### 2. Selecionar colunas específicas de um DataFrame usando pandas

In [0]:
df[['description', 'quantity']]

,description,quantity
0,WHITE HANGING HEART T-LIGHT HOLDER,6
1,WHITE METAL LANTERN,6
2,CREAM CUPID HEARTS COAT HANGER,8
3,KNITTED UNION FLAG HOT WATER BOTTLE,6
4,RED WOOLLY HOTTIE WHITE HEART.,6
...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12
541905,CHILDREN'S APRON DOLLY GIRL,6
541906,CHILDRENS CUTLERY DOLLY GIRL,4
541907,CHILDRENS CUTLERY CIRCUS PARADE,4
541908,BAKING SET 9 PIECE RETROSPOT,3

### 3. Filtrar linhas com base em uma condição usando pandas

In [0]:
df[df['region'] == 'France']

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/10 8:45,"3,75",12583,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,12/1/10 8:45,"3,75",12583,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,12/1/10 8:45,"3,75",12583,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,12/1/10 8:45,"0,85",12583,France
30,536370,21883,STARS GIFT TAPE,24,12/1/10 8:45,"0,65",12583,France
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,"0,85",12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680,France

### 4. Agrupar dados com base em uma coluna usando pandas

In [0]:
df.agg({'customer_id': 'count'}).reset_index().head()

,index,0
0,customer_id,406829

### 5. Usar a função max em alguma coluna do DataFrame

In [0]:
df['invoice_date'].max()

Out[20]: '9/9/11 9:52'